
.body { 
    width:100%; 
    height:100%;
    display: -webkit-flex; /* Safari */
     -webkit-justify-content: center; /* Safari 6.1+ */
     -webkit-align-item: center; /* Safari 6.1+ */
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5%;
        margin-left: 25px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
     }

    
  
  .store { 
    display:inline-block; 
    font-size:24px; 
    font-family: 'Arial Black'; 
    color:#C53030; 
    line-height:90px; 
    width:300px; 
    height:90px; 
    border: 1.5px solid #C53030; 
    transition:.15s ease; 
    opacity:1; 
    text-align:center;
}

.work, .contact {
    display:inline-block; 
    font-size:24px; 
    font-family: 'Arial Black'; 
    color:#C53030; 
    line-height:90px; 
    width:300px; 
    height:90px; 
    border: 1.5px solid #C53030; 
    border-right: 0px;
    transition:.15s ease; 
    opacity:1; 
    text-align:center;
}
  
  .contact:hover {
    border:1px solid #C53030; 
    border-right:0px; 
    background:#C53030; 
    color:#C53030;
    transition:.25s ease;
    cursor: pointer;
  }
  
  .work:hover { 
    border:1px solid #C53030; 
    border-right:0px; 
    background:#C53030; 
    color:#C53030;
    transition:.25s ease;
    cursor: pointer;
}
  
  .store:hover { 
    border:1px solid #C53030; 
    border-right:0px; 
    background:#C53030; 
    color:#C53030;
    transition:.25s ease;
    cursor: pointer;
}

.text {
  font-family: 'notoSansJP', sans-serif;
}


  

@media only screen and (max-width: 480px) {
    .work, .store, .contact {
        width: 100px;
        height: 30px;
    }

    .body {
        flex-wrap: wrap;
    }
}